body {
  background-image: url('./images/background.png');
}

.game {
  align-items: center;
  background-color: #6845ce;
  border-radius: 20px;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
  margin: 10px auto;
  padding: 40px 0;
  width: 960px;
}

.background-game {
  height: 975px;
  max-width: 1920px;
}

.game-container {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.question-container {
  height: 300px;
  margin: 0 40px;
  max-width: 400px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 40px;
  max-width: 320px;
}

.answer-button {
  background-color: #2b88ec;
  color: #07509f;
  font-weight: 700;
}

li {
  list-style: none;
  margin: 0 auto;
  max-height: 50px;
}

li button {
  box-shadow: 0 8px 10px #3a3a3a80;
  margin: 4px;
  padding: 12px 0;
  width: 300px;
}

.correct-answer {
  border-color: rgb(6, 240, 15);
  border-style: solid;
  border-width: 3px;
}

.wrong-answer {
  border-color: red;
  border-style: solid;
  border-width: 3px;
}

.seconds {
  font-size: 1.45rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.next-button {
  background-color: #d492d6;
  color: #954497;
  font-weight: 100;
  margin: 20px;
  max-height: 45px;
  width: 300px;
}

