.game {
  background-image: linear-gradient(#3590F3, #1E6FC5);
  border-radius: 20px;
  color: white;
  margin: 40px auto;
  max-width: 900px;
  padding: 40px;
}
.background-game {
  /* background-image: url('./images/background.png'); */
  height: 980px;
  margin: auto;
}

/* test */

.game-container {
  display: flex;
  justify-content: space-between;
}
.question-container {
  max-width: 400px;
}
.buttons-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  max-width: 320px;
}
.answer-button {
  color: #4867E6;
  font-weight: 700;
}
li {
  list-style: none;
  margin: 6px auto;
}
li button {
  box-shadow: 0 8px 10px #3a3a3a80;
  margin: auto;
  padding: 12px 0;
  width: 300px;
}
.correct-answer {
  border-color: rgb(6, 240, 15);
  border-style: solid;
  border-width: 3px;
}
.wrong-answer {
  border-color: red;
  border-style: solid;
  border-width: 3px;
}

