.header-background {
  background-color: white;
  padding: 20px 0;
 }
 
 
 .header img {
  border-radius: 100px;
  width: 120px;
 }
 
 
 .header {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.375rem;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
 }
 